.events-page-inner {
  padding-bottom: 16rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 7rem;
  row-gap: 3.2rem;
}

.events-page {
  padding-top: 8rem;
}

.event-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
