@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 0 5rem;
  max-width: 150rem;
  margin: 0 auto;
}

.inner-body {
  min-height: 68vh;
}
