.nav {
  border-bottom: 0.1rem solid $base-green;
  min-height: 12vh;
}

.nav-inner {
  padding: 0.7rem 0;
  display: grid;
  gap: 3rem;
  grid-template-columns: 0.3fr 1fr;
}

.nav-content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 9.6rem;
  span,
  a {
    font-size: 1.8rem;
  }

  li {
    position: relative;

    &:not(:last-child) {
      &::after {
        position: absolute;
        top: 0;
        right: -4.8rem;
        width: 0.1rem;
        height: 2.5rem;
        content: "";
        background: $base-green;
      }
    }
  }
}

.nav-logo a {
  width: 10rem;
  height: 10rem;
  display: flex;

  img {
    width: 10rem;
    height: 10rem;
  }
}

.nav-non-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;

  .arrow {
    width: 2rem;
    height: 2rem;
    @include arrow-start;
  }
}
